<div class="home__container">
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="DIGITAL"
		gameOption="Pacote do Jogo"
		gameType="PS3 PS4"
		gamePrice="R̶$̶ ̶9̶9̶,̶0̶0̶ &nbsp;&nbsp;R$ 59,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="PLAYSTATION HITS"
		gameOption="Pacote do Jogo"
		gameType="PS4"
		gamePrice="R̶$̶ ̶1̶4̶9̶,̶0̶0̶ &nbsp;&nbsp;R$ 99,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="DIGITAL"
		gameOption="Pacote do Jogo"
		gameType="PS4"
		gamePrice="R$ 199,50"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="DIGITAL"
		gameOption="Pacote do Jogo"
		gameType="PS3"
		gamePrice="R̶$̶ ̶1̶4̶9̶,̶0̶0̶ &nbsp;&nbsp;R$ 99,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-origins.jpg"
		gameLabel="DIGITAL"
		gameOption="Pacote do Jogo"
		gameType="PS4"
		gamePrice="R̶$̶ ̶2̶5̶9̶,̶0̶0̶ &nbsp;&nbsp;R$ 199,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-valhala.jpg"
		gameLabel="NEW"
		gameOption="Pacote do Jogo"
		gameType="PS4 PS5"
		gamePrice="R$ 299,99"
	>
	</app-card>
	<app-card
		gameCover="assets/gow-cover.jpg"
		gameLabel="PLAYSTATION HITS"
		gameOption="Pacote do Jogo"
		gameType="PS4"
		gamePrice="R̶$̶ ̶1̶9̶9̶,̶0̶0̶ &nbsp;&nbsp;R$ 199,99"
	>
	</app-card>
	<app-card
		gameCover="assets/gow-ragnarok.jpg"
		gameLabel="NEW"
		gameOption="Pacote do Jogo"
		gameType="PS4 PS5"
		gamePrice="R$ 299,99"
	>
	</app-card>
</div>